{% extends "home.html" %}
{% load static %}

{% block description %}
{% endblock description %}

{% block title %}
BM Construction
{% endblock title %}


{% block slider %}
{% include "slider.html" %}
{% endblock slider %}

{% block about %}
{% include "homeabout.html" %}
{% endblock about %}

{% block servise %}
{% include "homeservice.html" %}
{% endblock servise %}

{% block project %}
{% include "homeproject.html" %}
{% endblock project %}

{% block clientsay %}
{% include "homeclientsay.html" %}
{% endblock clientsay %}

{% block newsletter %}
{% include "homenewsletter.html" %}
{% endblock newsletter %}

{% block container %}
{% endblock container %}